
/* add height: auto back in here if things get funky and dink around with
html height 100 and body min-height 100 */
/* I made it this way because of the story html linked to from 'read more' */
html,
body {
    font-family: 'Oswald', sans-serif;
}    


html {
    height: 100%;
}

body {
    min-height: 100%;
}

.color-index, .color-projects, .color-writings,
.color-creative, .color-bio {
    background-color: #322F7C;
}

body {
    display: -ms-flexbox; 
    display: flex; 
    color: #FFFFFF;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
}

.container-fluid, .container-fluid2 {
    max-height: auto;
    position: relative;
}

.container-fluid, .overall-container {
    width: 100%;
    height: 100%;
}

/* aboutMe.html, writings_new.html, index.html */
.overall-container {
    position: fixed;
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
}

#main {
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 14;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    height: 100%;
    max-height: auto;
}

.col {
    padding: 15px;
}

.center-content {
    padding: 3.875rem 3.125rem;
}

.center-content, .center-content-creative {
    max-width: 100%;
    width: 45rem;
    margin: 3px;
}

.row {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin: unset; 
}

#text01 {
    color: #FF757D;
    letter-spacing: 0.65rem;
    width: 100%;
    font-size: 2.75em;
    line-height: 1.175;
    font-weight: 500;
    margin: unset;
}

#text01, .headline-text {
    text-transform: uppercase;
}

#text02 {
    color: #FFFFFF;
    line-height: 1.675;
}

#text02, .btn {
    letter-spacing: 0.15rem;
}

.headline-text {
    font-size: 17px;
}

.headline-text, .btn {
    font-weight: 600;
}

.middle-text {
    font-size: 15px;
}

.btn { 
    width: 9rem; 
    margin: 20px;
    text-shadow: none;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #322F7C;
}

#index-divider {
    width: 55%;
    border-bottom: solid 1px #FF757D;
}

#icons-row {
    display: inline-block;
}

.icons {
    cursor: default;
    padding: 0;
    margin-top: 1rem;
}

#icons01 {
    font-size: 1.5em;
}

#icons01 li {
    margin: 0.625rem;
}

.icons li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

#icons01 li a {
    border-radius: 100%;
    width: 2.3em;
    height: 2.3em;
    border-color: #6461c0;
}

#icons01 li a:hover {
    border-color: white;
}

.icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-circle {
    border: solid 1.3px #658CC7;
}

.github {
    height: 40px;
    width: auto;
}

.linkedin {
    height: 25px;
    width: auto;
}

.email {
    height: 28px;
    width: auto;
}

p {
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#col-header {
    padding: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    padding-inline-start: 0px;
}

.btn, .left-text {
    color: #322F7C;
    font-size: 16px;
    background-color: #FF757D;
}

#header-divider, #index-divider {
    margin: 0 auto;
    height: 15px;
}

/* Projects.html */
#left-link {
    padding-left: 90px;
}

#right-link {
    padding-right: 90px;
}

.left-text {
    font-weight: bold;
    border-radius: 4px;
    border: solid 1px #322F7C;
}

#header-text {
    text-shadow: none;
    letter-spacing: 0.2rem;
}

.left-text:hover {
    background-color: white;
    color: #322F7C;
}

.right-text {
    color: #FF757D;
    font-size: 16px;   
}

.right-text:hover {
    color: white;
}

.header-row {
    width: calc(100% - 86px);
}

#header-divider {
    border-top: solid 2px #FF757D;
    margin-bottom: 5px;
}

.subject {
    text-align: center;
    padding: 10px;
}

.album-container {
    padding: 10px;
    margin: 10px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.card {
    height: 100%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.75)!important;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-img-top:hover {
    border-style: solid;
    border-width: 5px;
    border-color: whitesmoke;
}

.card-body {
    background-color: #FF757D;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 2% 4%;
    box-shadow: inset 0 0 2rem 0px rgba(0, 0, 0, 0.5);
    border-left: solid 5px white;
    border-right: solid 5px white;
    border-bottom: solid 5px white;
    border-top: solid 5px white;
}

.card-title {
    color: #322F7C;
}

.card-text {
    color: white;
}

.proj-pgs {
    padding-bottom: 3%;
}

#text-small {
    color: rgba(255,255,255,0.761);
    letter-spacing: 0.05rem;
    width: calc(100% + 0.05rem);
    font-size: 1em;
    line-height: 1.675;
    font-weight: 200;
}

/* Writings.html */
.make-space {
    padding-top: 0px;
    padding-bottom: 0px;
}

#portal-row {
    height: 70%;
    width: 100%;
}

.portal {
    padding-top: 2%;
    padding-bottom: 2%;
}

.portal-left, .portal-right {
   display: flex;
   align-items: center;    
}

.container-fluid2 {
    width: 63%;
    height: 90%; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
}

.cont-left {
    margin-right: 0;
}

.inner-boundary {
    width: 92%;
    height: 96%;
    margin: 0 auto;
    border: solid 1px #FF757D;
    background-color: #322F7C;
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.3);
}

.writings-hover:hover + .hide {
    display: block;
    color: #322F7C;
    background-color: rgb(219, 216, 216);
    opacity: .9;
}

.img-writing, .hidden-text {
    width: 265px;
    height: 258px;
    top: calc((100% - 258px)/2);
}

.img-writing, .hidden-text, .img-writings {
    left: calc((100% - 265px)/2);
}

.img-writing, .hidden-text, .img-writings, .upper-bar, .lower-bar {
    position: absolute;
}

.img-writing {
    display: block;
    object-fit: cover;
}

.hide {
    display: none;
}

.hidden-text { 
    padding: 15px;
    z-index: 1;
}

.emphasis, #text-overlay {
    color: #FF757D;
    text-transform: uppercase;
}

.img-writings {
    bottom: calc((100% - 258px)/2);
    padding: 2%;
}

#text-overlay {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.55rem;
    font-weight: bold;  
}

.cont-right {
    margin-left: 0;
}

.lower-bar, .upper-bar {
    width: 92%;
    height: 5px;
    left: 4%;
}

.lower-bar {
    bottom: -1%;    
    border-bottom: #FF757D solid 1px;
}

.upper-bar {
    position: absolute;
    top: -1%;
    border-top: #FF757D solid 1px;
}

/* Creative.html */
#container-cat {
    margin-top: -150px;
}

.sticky-cat {
    height: 150px;
    width: auto;
    position: sticky;
    top: calc(100vh - 150px);
    left: 50px; 
    z-index: 2;
}

.center-content-creative {
    padding-top: 0.05rem;
    padding-right: 3.125rem;
    padding-bottom: 3.875rem;
    padding-left: 3.125rem;
    text-align: left;
}

.wr-p-intro {
    color: white;
    font-size: 16px;
    letter-spacing: 0.08rem;
}

#divider-top {
    width: 100%;
    border-bottom: solid 3px #322F7C;
}

#divider-long {
    height: 25px;
    border-bottom: solid 1px #FF757D;
}

#divider-long, .story-box-a {
    position: relative;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -42%);
}

#story-row-a {
    background-color: #FF757D;
    height: 250px;
    width: 100%;
    position: relative;
}

.story-box-a {
    height: 175px;
    border-style: solid;
    border-width: 3px;
    border-color: #322F7C;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #FF757D;
    box-shadow: inset 0 0 3rem 0px rgba(0, 0, 0, 0.5);
}

.writing-title {
    letter-spacing: 0.05rem;
    font-size: 27px;
    margin: 5px;
    color: #322F7C; 
    font-weight: 700;
}

.txt1 {
    bottom: 21px;    
    font-weight: bolder;
}

.txt1, .txt2 {
    position: absolute;
    left: 5px;
    margin: unset;
    line-height: 1;
    letter-spacing: 0.08rem;
    font-size: 15px;
}

.txt2 {
    bottom: 1px;
    font-style: italic;
}

#read-more {
    margin-top: 0px;
    color: #FF757D;
    text-shadow: unset!important;
}

/* Creative Individual Story html */
.story-content {
    max-height: none!important;
    position: relative;
    height: auto!important;
    min-height: auto;
    overflow: hidden;
}

.words {
    text-transform: uppercase;
    color: #FF757D;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.65rem;
    /* width: calc(100% + 0.65rem); */
    font-size: 2.5rem;
    line-height: 1.175;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    /* border: solid 3px #FF757D; */ 
}

#text01 {
    color: #FF757D;
    letter-spacing: 0.65rem;
    width: 100%;
    font-size: 2.75em;
    line-height: 1.175;
    font-weight: 500;
    margin: unset;
}

#story-main {
    display: flex;
    justify-content: center;
    padding-top: 2%; 
    padding-bottom: 4%;   
}

.center-content-story {
    padding: 1.75rem 3.125rem;
    max-width: 100%;
    width: 45rem;
    margin-bottom: 1%;
    color: #322F7C;
    background-color: #FF757D;
    border: solid 10px white;
    letter-spacing: 0.15rem;
}

#story-title {
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 20px;
    justify-content: space-evenly; 
    letter-spacing: 0.35rem; 
    font-weight: bold;
    font-size: 18px;  
}

.val3 {
    width: calc(100% - 116px);
    margin: 0 auto;
    border-top: solid 2px #FF757D;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: 58px;
}

/* About/Bio html */
.res-top, .resume01 {
    display: flex;
    flex-direction: column;
    position: relative
}

.resume {
    border: ridge 5px #322F7C; 
    background-color: white;   
}

.resume01 {
    height: 100%;
}

#bio-header {
    color: #322F7C;
    letter-spacing: 0.65rem;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
}

.row-top {
    padding-bottom: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

#top-space {
    margin-top: 15px;
}

.job-title-left, .job-title-right,
#body-text {
    color: #322F7C;
    font-size: 14px;
}

.job-title-left {
    text-align: left;
    font-weight: 650;;    
}

.job-title-right {
    text-align: right;
    font-weight: 650;
}

.row-bottom {
    padding-top: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.text-15 {
    padding-left: 15px!important;
}

ul.acc-list {
    display: block;
    margin-block: 0;
}

.resume-click {
    flex: 1 1 auto;
    position: relative;
}

.page-changer {
    height: min-content;
    position: absolute;
    bottom: 25px;
    left: 45%;
}

#click-text {
    color: #322F7C;
    font-size: 16px;
}

.resume-arrow {    
    width: 20px;
    height: auto;
}

.testing-arrow {
    width: 22px;
    height: auto;
}

.opaque {
    opacity: 0.2;
}

.hide-me {
    display: none;
    width: 20px;
    height: auto;
}

.arrows:hover img.resume-arrow {
    display: none;
}

.arrows:hover img.hide-me {
    display: unset;   
}

a {
    display: inline-block;
}

.bottom-space {
    margin-bottom: 25px!important;
}

/* Footer */
.footer-row {
    width: 97%;
    margin: 0 auto;
    border-top: solid 2px #FF757D;
    opacity: 0.4;
}

.footer-row02 {
    width: calc(100% - 116px);
    /* margin: 0 auto; */
    border-top: solid 2px #FF757D;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: 58px;
}

.proj-footer-text {
    margin: 0 auto;
    color: #FF757D;
}


