



.title-box {
  margin-left: 50px;
  padding-right: 10px;
  margin-top: 200px;
}
 
.val-info {
  text-align: right;
}

.val-info-3 {
  text-align: left;
}

/* .name {
  margin-left: 350px;
} */

.top-row {
  margin-top: 30px;
  margin-left: 0px
}

.third-row {
  margin-top: 30px;
  margin-left: 0px
}

/* Styling for HTML elements */
/* body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: #333;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #d21034;
  } */
  
  /* Selecting elements by class */
  /* .container {
    width: 1024px;
    margin: 0 auto;
  } */

  html,
  body {
    height: 100%;
    background-color: rgb(49, 50, 51);
  }


  body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 7rem 0px rgba(0, 0, 0, 0.5);
  }

  .vallie {
    margin-top: 1rem;
  }

  /* #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  } */

  
  /* Selecting elements by ID */
  /* #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  
  #bio-name {
    position: absolute;
    top: 150px;
    left: 30px;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  

   */